example/linux/flutter/generated_plugin_registrant.cc eol=lf
example/linux/flutter/generated_plugin_registrant.h eol=lf
example/linux/flutter/generated_plugins.cmake eol=lf
example/macos/Flutter/GeneratedPluginRegistrant.swift eol=lf
example/windows/flutter/generated_plugin_registrant.cc eol=lf
example/windows/flutter/generated_plugin_registrant.h eol=lf
example/windows/flutter/generated_plugins.cmake eol=lf