name: sweph
description: Cross-platform bindings of Swiss Ephemeris APIs for Flutter.
version: 2.10.3+12
homepage: https://github.com/vm75/sweph.dart
repository: https://github.com/vm75/sweph.dart

environment:
  sdk: ">=2.19.0 <3.0.0"
  flutter: ">=2.11.0"

dependencies:
  ffi: ^2.0.1
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  html: ^0.15.1
  inject_js: ^2.0.0
  js: ^0.6.5
  path: ^1.8.2
  path_provider: ^2.0.12
  plugin_platform_interface: ^2.0.2
  wasm_ffi: ^0.9.3
  wasm_interop: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  ffigen: ^7.2.4

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
      web:
        pluginClass: Sweph
        fileName: sweph.dart
  assets:
    - assets/
    - assets/ephe/
